# Querying SQLite from Python by Using Native Python Objects

In [1]:
## Python 2.5 and up come with the sqlite module, which means we don't need to install any separate libraries 
  ## to get started. 
## We'll be working with the sqlite3 Python module, developed to work with SQLite version 3

import sqlite3

In [2]:
## Connecting to a database.
## connect() function requires a single parameter, which is the database we want to connect to.

con = sqlite3.connect("data/chinook.db")
sqlite3.connect("data/chinook.db")

In [3]:
## We need to use the Connection instance method cursor() 
   ## to return a Cursor instance corresponding to the database we want to query.
## curson() the connection instance method does the followings:
## Parse the results from the database
## Convert the results to native Python objects
## Store the results within the Cursor instance as a local variable    

con.cursor()

In [4]:
## Now that database is parsed and converted into native Python objects (list of tuples) we can execute our query.
## We use the Cursor method execute() to run the query against our database.
## execute() requires a single paramenter which is our query

query = "select * from employee"

con.cursor().execute(query)

In [5]:
## Now that we have the result stored as a local variable we can display it by calling cursor method fetchall()

con.cursor().execute(query).fetchall()[0]

(1,
 'Adams',
 'Andrew',
 'General Manager',
 None,
 '1962-02-18 00:00:00',
 '2016-08-14 00:00:00',
 '11120 Jasper Ave NW',
 'Edmonton',
 'AB',
 'Canada',
 'T5K 2N1',
 '+1 (780) 428-9482',
 '+1 (780) 428-3457',
 'andrew@chinookcorp.com')

In [6]:
employee_1_info = con.cursor().execute(query).fetchall()[0]
employee_1_info

(1,
 'Adams',
 'Andrew',
 'General Manager',
 None,
 '1962-02-18 00:00:00',
 '2016-08-14 00:00:00',
 '11120 Jasper Ave NW',
 'Edmonton',
 'AB',
 'Canada',
 'T5K 2N1',
 '+1 (780) 428-9482',
 '+1 (780) 428-3457',
 'andrew@chinookcorp.com')

In [7]:
## After we are done working with the database we have to close the connection 

con.close()